body{

background:#111;
color:white;
font-family:Arial;
text-align:center;

}

button{

padding:10px;
margin:5px;
font-size:16px;

}

.chart-container{

width:90%;
max-width:900px;
height:400px;
margin:auto;

}

canvas{

width:100%;
height:100%;

}

.info{

font-size:20px;
margin:20px;

}

.portfolio{

margin:20px;
font-size:18px;

}
